<div style="height: 400px; background-color: #fc7955;">
  <br /><br /><br /><br /><br /><br /><br />
  <h1>Bienvenue sur Chaos on Venus</h1>
</div>

<div fxLayout="row" fxLayoutGap="10px" style="margin-top: 32px; margin-bottom: 32px; margin-left: 200px; margin-right: 200px">
  <div>
    <div style="margin-right:auto;">
      <img src="../../assets/venus.svg" height="220">
    </div>
  </div>
  <div>
    <div>
      <div class="titre">Bienvenue !</div>
      <p class="text-body">
          Cette interface vous permet d'<b>observer</b> le comportement d'une colonie venant d'arriver sur Vénus composé d'<b>humains</b>, de <b>robots</b>.
      </p>
    </div>
  </div>
</div>

<mat-divider></mat-divider>

<div fxLayout="row" fxLayoutGap="10px" style="margin-bottom: 32px; margin-top: 32px; margin-left: 200px; margin-right: 200px">
  <div>
      <div class="titre">Monitoring</div>
      <p class="text-body">
          <b>Suivez le comportement de votre colonie</b> à travers la page <b>Monitoring</b> et observez les résultats. L'objectif de cette simulation est de faire du <b>chaos engineering fonctionnel</b>.
      </p>
  </div>
  <div style="margin-left:auto;">
        <img src="../../assets/analytics.svg" height="220" >
  </div>
</div>
